html{
    font-family: sans-serif;
}


header{
    display: flex;
    padding: 20px;
    gap:10px;
    background-color: white;
    justify-content: space-between;
    position: sticky;
    margin: 0 auto;
}

/* Prima parte del main */

.links-left{
    display: flex;
    padding: 20px;
    gap:10px;
    background-color: white;
    align-items: center;

}

.links-right{
    display: flex;
    padding: 10px;
    gap:10px;
    background-color: white;

}

.links-header{
    color:black;
    text-decoration: none;
    align-content: center;
}

.btn-accedi{
    background-color: white;
    padding: 10px;
    border:none;
}

.btn-inizia{
    background-color: #0061FE;
    color:white;
    padding: 10px;
    border:none;
}

.title{
    display: flex;
    
    font-size: 35px;
    background-color: #B4D0E6;
    padding-inline-start: 250px;
}

.first-section{
    display: flex;
    justify-content: center;
    background-color: #B4D0E6;
    gap: 30px;
    padding: 30px;
    background: linear-gradient(#b4d0e6 80%, white 20%);
}


.img-jumbo{
    width: 600px
}

.paragraph-btn{
    flex-basis: 400px;
}

p{
    margin-bottom: 20px;
}


.btn-blue{
    display: block;
    margin-bottom: 10px;
    background-color: #0061FE;
    padding: 15px;
    color:white;
    width:70%;
}

.btn-white{
    background-color: transparent;
    border: none;
    padding:15px;
}

.arrow{
    display:block;
    font-size: 60px;
}

/* Seconda parte del main */

.second-title{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 20px;
}

.billing-options{
    display: flex;
    justify-content: center;
    list-style:circle;
    gap: 90px;
    background-color: white;
    margin-bottom: 10px;
}


.second-section{
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-basis: 100px;
    border-color: lightgray;
    background-color: white;
    margin-bottom: 40px;
    
}

.professional{
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid;
    border-color: lightslategray;
    
}

.icon{
    border: 1px solid;
    border-color: lightslategray;
    padding: 10px;
}


.professional .icon{
    text-align: center;
}



.advanced{
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid;
    border-color: lightslategray;
}


.advanced .icon{
    text-align: center;
}


.enterprise{
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid;
    border-color: lightslategray;
}

.enterprise .icon{
    text-align: center;
}

.items-business-plan{
    list-style: none;
    gap: 10px;
}

.fa-share-nodes{
    margin-right: 10px;
    text-indent: 10px;
}


hr{
    width: 20px;
    border-color: lightgrey;
}

.team-section{
    margin-right: 240px;
    margin-left: 240px;
}

.icon-team{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-right: 240px;
    margin-left: 240px;
    
}

.title-btn{
    display: flex;
    justify-content: space-between;
}

.title-enterprises-left{
    display: flex;
    flex-direction: column;
    gap:10px;

}

.btn-enterprises-container-right{
    display: flex;
}

.btn-enterprises{
    background-color: #0061FE;
    color:white;
    height: 70%;
}

.team-section{
    border: 1px solid lightgrey;
    
}

.icon-line{
    border: 1px solid;
    width: 100%;
    color: lightgrey;
}